@charset "UTF-8";

body {
	height: 100%;
    margin: 0;
    padding: 0;
	overflow-x: hidden;
}
.adminMainWrapper {
	width: 940px;
	margin-top: 50px;
}
.outerTable {
    width: 100%; /* 외부 테이블 너비 100% */
    margin-top: 50px;
    border-collapse: collapse;
	table-layout: fixed;
}
.section {
	width: 95%;
}
.section table {
	min-height: 208px;
	text-align: left;
	width: 100%;
	border-collapse: collapse;
}
.section h3 {
    margin-bottom: 50px;
    margin-left: 5px;
}
.section th {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #ccc; /* 경계선 */
    padding: 8px; /* 패딩 추가 */
    text-align: left; /* 왼쪽 정렬 */	
}
.section tr:last-child {
    border-bottom: none; /* 마지막 td의 아래 경계선 제거 */
}
.section tr {
	vertical-align: top;
	border-bottom: 1px solid black;
}
.section td {
	vertical-align: top;
	border: 1px solid #ccc; /* 경계선 */
    padding: 8px; /* 패딩 추가 */
    text-align: left; /* 왼쪽 정렬 */
}
.wrapper {
	width: 940px;
	margin-top: 50px;
}
.wrapper h3 {
	margin-bottom: 30px;
	
}
.listTable {
	border: 1px solid black;
	width: 100%;
	min-height: 400px;
	margin-top: 30px;
	margin-bottom: 20px;
	vertical-align: top;
	border-collapse: collapse;
}
.listTable th, .listTable td {
	text-align: left;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #ccc;
}
.listTable tr {
	vertical-align: top;
	border-bottom: 1px solid black;
}
.listTable tr:last-child {
    border-bottom: none; /* 마지막 td의 아래 경계선 제거 */
}
.adminMainWrapper a {
	text-decoration: none;
	color: black;
}
.adminMainWrapper a:visited, .wrapper a:active { clolor: black }
.adminMainWrapper a:hover {
	opacity: 0.8;
	cursor: pointer;
}
.header {
    display: flex; /* 플렉스 박스 레이아웃 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-between; /* 요소 간 공간 분배 */
    width: 100%;
}

.header h3 {
    margin: 0; /* 기본 마진 제거 */
    padding-left: 5px;
}

.newPerformance {
    margin-right: 0;
}
.detailWrapper {
    width: 940px;
	margin-top: 50px;
}
.detailWrapper h3 {
	margin-bottom: 5px;
}
#content {
    display: flex;
    align-items: flex-start; /* 상단 정렬 */
    gap: 15px; /* 포스터와 테이블 사이 간격 */
    margin-bottom: 20px; /* 아래 여백 */
    margin-top: 20px;
}

.poster {
    margin-right: 20px; /* 이미지와 테이블 사이에 간격 */
    margin-left: 0;
}

.poster img {
    max-width: 300px; /* 포스터 이미지 최대 너비 */
    height: auto; /* 비율 유지 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
}
.detailTableWrap {
	width: 80%;
}
.detailTable {
    width: 100%; /* 테이블 너비 100% */
    border-collapse: collapse; /* 테이블 경계 겹치기 방지 */
    margin-bottom: 20px;
}

.detailTable th, .detailTable td {
    border: 1px solid #ccc; /* 경계선 */
    padding: 8px; /* 패딩 추가 */
    text-align: left; /* 왼쪽 정렬 */
}