@charset "UTF-8";

@font-face {
   font-family: 'TheJamsil4Medium';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2') format('woff2');
   font-weight: 400; /*이미 위에서 4Medium 이렇게 정해져서 font-weight 의미 없음*/
   font-style: normal;
}
 
html, body { font-family: 'TheJamsil4Medium', sans-serif; } 